@model List<UsuarioModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Listagem de Usuários";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button"
           asp-controller="Usuario" asp-action="Criar">Adicionar novo usuário</a>
    </div>

    @if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
            @TempData["Sucesso"]
        </div>
    }


    @if (TempData["Erro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
            @TempData["Erro"]
        </div>
    }

    <h1 class="display-4">Usuários</h1>

    <table class="table" id="table-usuarios">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Login</th>
                <th scope="col">Data de Cadastro</th>
                <th scope="col">Perfil</th>
                <th scope="col">Total de Contatos</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.DataCadastro</td>
                        <td>@(usuario.Perfil == CrudMVC.Enums.PerfilEnum.Admin ? "Admin" : "Padrão")</td>
                        <td>
                             <a href="#" class="btn btn-success btn-sm btn-total-contatos">@(usuario.Contatos != null && @usuario.Contatos.Any() ? @usuario.Contatos.Count() : 0)</a>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" asp-controller="Usuario" asp-route-id="@usuario.Id" asp-action="Editar" class="btn btn-primary">Editar</a>
                                <a role="button" asp-controller="Usuario" asp-route-id="@usuario.Id" asp-action="Apagar" class="btn btn-danger">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
</div>

